<link rel="stylesheet" href="/styles/tabs/contacts.css">

<div class="contacts-main">
    <div class="contacts-info">
        <div class="contacts-header">Контактні дані</div>
        <p>E-mail: <a class="hrefs" href="mailto:some.email@gmail.com">some.email@gmail.com</a></p>
        <p>Телефон: <a href="tel:+380986777819"></a> +380986777819</p>
        <p>Telegram: @telegram</p>
        <p>Instagram: @instagram</p>
        <p>Адреса: <a class="hrefs" href="https://maps.app.goo.gl/yQLnZSFa5D1kEP9HA">Кам'янецька вулиця, 3, Хмельницький, Хмельницька область, 29000</a></p>
    </div>
    <div class="map-cont">
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1083.3478191216893!2d26.981291822454676!3d49.43035290521395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473207b8dc62b351%3A0x56073b51f507437a!2z0KXQvNC10LvRjNC90LjRhtGM0LrQuNC5INC60L7QvtC_0LXRgNCw0YLQuNCy0L3QuNC5INGC0L7RgNCz0L7QstC10LvRjNC90L4t0LXQutC-0L3QvtC80ZbRh9C90LjQuSDRltC90YHRgtC40YLRg9GC!5e0!3m2!1suk!2sua!4v1706984408932!5m2!1suk!2sua"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>