<link rel="stylesheet" href="/styles/tabs/prices.css">

<div id="prices-table">
    <table>
        <tr id="head-row">
            <th>НАЗВА ПАКЕТА</th>
            <th>ЧАС ЗЙОМКИ</th>
            <th>ОРЕНДА СТУДІЇ</th>
            <th>ЛАЙТ-ОБРОБКА ФОТОГРАФІЙ</th>
            <th>ЦІНА</th>
        </tr>
        <tr class="prices-rows">
            <th>МІНІМУМ</th>
            <th>1 година</th>
            <th>1 зал</th>
            <th>100 фото</th>
            <th class="prices-column">2900 грн.</th>
        </tr>
        <tr class="prices-rows">
            <th>СТАНДАРТ</th>
            <th>1,5 години</th>
            <th>2 зали</th>
            <th>150 фото</th>
            <th class="prices-column">3900 грн.</th>
        </tr>
        <tr class="prices-rows">
            <th>МАКСИМУМ</th>
            <th>2 години</th>
            <th>3 зали</th>
            <th>200 фото</th>
            <th class="prices-column">5400 грн.</th>
        </tr>
        <tr class="prices-rows">
            <th>ПРЕМІУМ</th>
            <th>3 години</th>
            <th>4 зали</th>
            <th>250 фото</th>
            <th class="prices-column">6900 грн.</th>
        </tr>
    </table>
</div>
