/* Main */
body {
    margin: 0;
    padding: 0;
    min-width: 500px;
    background: #111;
}
.console {
    background: white;
}
#header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
    height: 40px;
    background: gold;
    border-bottom: 2px solid darkgray;
}
#header .header-tab {
}

#header #logo img {
    border-radius: 50%;
    width: 40px;
}
.header-icon {
    width: 40px;
    cursor: pointer;
}

/* Content */
#content {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
}

input {
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}

button {
    font-size: 14px;
    color: black;
    background: gold;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
}

footer {
    color: mistyrose;
    background: #111;
    padding: 20px;
    border-top: 2px solid darkgray;
    margin-top: 10px;
}