.contacts-main {
    overflow-x: hidden;
    display: flex;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
}

.contacts-info {
    margin: 30px;
}

.contacts-header {
    font-weight: bold;
    font-size: 30px;
    border-bottom: #dcdee0 2px solid;
}

.map-cont {
    margin-left: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 3px;
}

.hrefs {
    text-decoration: none;
}

.hrefs:visited {
    color: blue;
    text-decoration: none;
}
