.contacts-main{
    overflow-x: hidden;
    display: flex;
}
.contacts-info{
    margin: 30px;
}

.contacts-header {
    font-weight: bold;
    font-size: 30px;
    border-bottom: #dcdee0 2px solid ;
}

.map-cont{
    margin-left: auto;
}
.hrefs{
    text-decoration: none;
}
.hrefs:visited{
    color: blue;
    text-decoration: none;
}
#map{
    border-radius: 10px;
}
